* {
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
}
body{
  background-color: #EAEDED !important;
}

.grad {
  background-image: linear-gradient(#f1950a, #ffff0000);
}

@media (max-width: 998px) {
  html {
    font-size: 75%;
  }
}
@media (max-width: 768px) {
  html {
    font-size: 70%;
  }
}
